{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Qroud{% endblock %}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet" media="screen">
</head>
<body>
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="/">Qroud</a>
{% if user.is_authenticated %}
    <p class="pull-right navbar-text hidden-phone">Welcome, {{ user.username }}. <a class="btn" href="/accounts/logout/">Logout</a></p>
    <p class="pull-right navbar-text visible-phone"><a class="btn" href="/accounts/logout/">Logout</a></p>
{% else %}
      <form class="navbar-form navbar-text pull-right hidden-phone" method="post" action="/accounts/login/">{% csrf_token %}
        User: <input id="id_username" type="text" name="username" maxlength="30" class="span1" />
        Pass: <input type="password" name="password" id="id_password" class="span1" />
         <input type="hidden" name="next" value="/" />
        <button type="submit" class="btn">Login</button>
      </form>
      <a class="btn visible-phone pull-right" href="/accounts/login">Login</a>
{% endif %}
    </div>
  </div>
<div class="container">
{% block content %}{% endblock %}
</div>
<script src="{% static "jQuery/jquery-1.8.3.min.js" %}"></script>
<script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
</body>
</html>
