{% extends "base.html" %}

{% block content %}
{{ question.question|escape|linebreaks }}
<p>
<sub>Question by: {{ question.user|escape }}</sub><br />
{% if showanswer %}
<strong>{{ question.answer|escape }}</strong><br />
{% endif %}
{% if not showanswer %}
<a class="btn btn-success" href='/quiz/answer/{{ question.id }}'>Get Answer</a> 
{% else %}
<a class="btn btn-danger" href='/quiz/dispute/{{ question.id }}'>Dispute</a> 
{% endif %}
<a class="btn btn-primary" href='/quiz/doquiz'>Another Question</a>
</p>
{% endblock %}


